.App {  
  width:100vw;
  margin:inherit;
  padding: inherit;
  background-color:var(--main-background);  
  justify-content: center;
  display: flex;
  align-items: center;
}

.page-wrapper{
  width:100%;
  margin:inherit;
  padding: inherit;
  background-color:var(--main-background);  
}