.App {  
  width:100vw;
  margin:inherit;
  padding: inherit;
  background-color:var(--main-background);  
}

.page-wrapper{
  width:100%;
  margin:inherit;
  padding: inherit;
  background-color:var(--main-background);  
}